# Class 2A: Review of Programming in Python I

We will begin soon!

<img src="images/programming.jpg" width=50% style="margin-left:auto; margin-right:auto">

<div align = "left"> 
    <br>
    <br>
    Photo by <a href="https://www.pexels.com/photo/two-women-sitting-on-sofa-holding-laptop-computers-1181268">Christina Morillo</a> from Pexels
</div>

[Download the (logistics) Slides from today](https://github.com/ubc-cs/cpsc203/raw/main/files/Lec03PythonReview.pdf)

<div align = "right"> 
    Firas Moosvi
</div>

**Note: Some images may look slightly different than yours as the software gets more polished and icons/user interfaces change, but this should give you a general gist of the essential things.**

<img src="images/base.png" width=80% style="margin-left:auto; margin-right:auto">

<img src="images/notebook1.png" width=80% style="margin-left:auto; margin-right:auto">

<img src="images/notebook2.png" width=80% style="margin-left:auto; margin-right:auto">

<img src="images/notebook3.png" width=80% style="margin-left:auto; margin-right:auto">

<img src="images/notebook4.png" width=80% style="margin-left:auto; margin-right:auto">

<img src="images/notebook5.png" width=80% style="margin-left:auto; margin-right:auto">

<img src="images/notebook6.png" width=80% style="margin-left:auto; margin-right:auto">

## Part 1: Introduction (30 mins)

## Outline:

- Part 1: Review of Python
    - Basic datatypes
    - Lists and tuples
    - Break (5 min)
    - String methods
    - Dictionaries
    - Conditionals


<img src="images/bus_stop.jpg" width=60% style="margin-left:auto; margin-right:auto">

## Datatypes in Python

Python has several data types available.
The diagram below [from Geeks for Geeks](https://www.geeksforgeeks.org/python-data-types/) shows a nice summary of how the datatypes are classified, and examples of each.
You'll notice that some types are in a class of their own (`dict`, `set`, `bool`) whereas other ones are similar but have distinguishing features (`list`/`tuple`/`str` and `int`/`float` etc...).

<img src="https://media.geeksforgeeks.org/wp-content/uploads/20191023173512/Python-data-structure.jpg">

### Common built-in Python data types

| English name | Type name | Description | Example |
| :--- | :--- | :--- | :--- |
| integer | `int` | positive/negative whole numbers | `42` |
| floating point number | `float` | real number in decimal form | `3.14159` |
| boolean | `bool` | true or false | `True` |
| string | `str` | text | `"I Can Has Cheezburger?"` |
| list | `list` | a collection of objects - mutable & ordered | `['Ali','Xinyi','Miriam']` |
| tuple | `tuple` | a collection of objects - immutable & ordered | `('Thursday',6,9,2018)` |
| dictionary | `dict` | mapping of key-value pairs | `{'name':'DSCI','code':511,'credits':2}` |
| none | `NoneType` | represents no value | `None` |

### Variables and Values

- A **value** is a piece of data that a computer program works with such as a number or text. 
- There are different **types** of values: `42` is an integer and `"Hello!"` is a string. 
- A **variable** is a name that refers to a value. 
  - In mathematics and statistics, we usually use variables names like $x$ and $y$. 
  - In Python, we can use any word as a variable name (as long as it starts with a letter and is not a [reserved word](https://docs.python.org/3.3/reference/lexical_analysis.html#keywords) in Python such as `for`, `while`, `class`, `lambda`, etc.). 
- And we use the **assignment operator** `=` to assign a value to a variable.

- See the [Python 3 documentation](https://docs.python.org/3/library/stdtypes.html) for a summary of the standard built-in Python datatypes. 
- See [Think Python (Chapter 2)](http://greenteapress.com/thinkpython/html/thinkpython003.html) for a discussion of variables, expressions and statements in Python.

### Numeric Types

In [1]:
x = 42.5

In [13]:
type(x)

float

In [14]:
x = 5
print(x)

5

In [15]:
x=5
x-2

3

In [16]:
pi = 3.14159

In [17]:
print(pi)

3.14159

In [18]:
type(pi)

float

#### Arithmetic Operators

The syntax for the arithmetic operators are:

| Operator | Description |
| :---: | :---: |
| `+` | addition |
| `-` | subtraction |
| `*` | multiplication |
| `/` | division |
| `**` | exponentiation |
| `//` | integer division |
| `%`  | modulo |

Let's apply these operators to numeric types and observe the results.

In [19]:
1 + 2 + 3 + 4 + 5

15

In [20]:
0.1 + 0.2

0.30000000000000004

```{tip}
From Firas: This is floating point arithmetic. For an explanation of what's going on, [see this tutorial](https://docs.python.org/3/tutorial/floatingpoint.html).
```

In [21]:
2 * 3.14159

6.28318

In [22]:
2**10

1024

In [23]:
type(2**10)

int

In [24]:
2.0**10

1024.0

In [25]:
int_2 = 2

In [26]:
float_2 = 2.0

In [27]:
float_2_again = 2.

In [28]:
107 / 2

53.5

In [29]:
107 // 2 # "integer division" - always rounds down

53

In [30]:
101 % 2 # "101 mod 2", or the remainder when 101 is divided by 2

1

### Strings

- Text is stored as a type called a string. 
- We think of a string as a sequence of characters. 
- We write strings as characters enclosed with either:
  - single quotes, e.g., `'Hello'` 
  - double quotes, e.g., `"Goodbye"`
  - triple single quotes, e.g., `'''Yesterday'''`
  - triple double quotes, e.g., `"""Tomorrow"""`

In [39]:
my_name = "Firas Moosvi"

In [40]:
print(my_name)

Firas Moosvi

In [41]:
type(my_name)

str

In [42]:
course = 'CPSC 203'

In [43]:
print(course)

CPSC 203

In [44]:
type(course)

str

If the string contains a quotation or apostrophe, we can use double quotes or triple quotes to define the string.

In [45]:
sentence = "It's a rainy day."

In [46]:
print(sentence)

It's a rainy day.

In [47]:
type(sentence)

str

In [48]:
saying = '''They say: 
"It's a rainy day!"'''

In [49]:
print(saying)

They say:
"It's a rainy day!"

### Sequence Type

This datatype contains three subtypes and serves as a good way to "hold/store stuff" - a container.

Each subtype has their own unique distinguishing features but they can all hold items of any type (and multiple types).

Below are the main differences between lists, tuples, and sets:

- `list`: items are ordered, and **can** be edited, changed after insertion.
- `set`: items are unique, but not ordered. Items cannot be replaced or changed, but can be removed or added.
- `tuple`: items are ordered, but cannot be replaced or changed once created.

In [74]:
mylist = ['one','two','apples','three','apples',600.50, 50, 'banana']

In [75]:
set(mylist)

{50, 600.5, 'apples', 'banana', 'one', 'three', 'two'}

In [76]:
mytuple = ('one','two','apples', 600.5)

mytuple

('one', 'two', 'apples', 600.5)

In [78]:
mytuple +('blagreenck',)

('one', 'two', 'apples', 600.5, 'blagreenck')

#### Sets

- Another built-in Python data type is the `set`, which stores an _un-ordered_ list of _unique_ items.

In [ ]:
s = {2,3,5,11}
s

{2, 3, 5, 11}

In [ ]:
{1,2,3} == {3,2,1}

True

In [ ]:
[1,2,3] == [3,2,1]

False

In [ ]:
s.add(2) # does nothing
s

{2, 3, 5, 11}

In [ ]:
s[0]

Above: throws an error because elements are not ordered.

### Boolean

- The Boolean (`bool`) type has two values: `True` and `False`.

In [50]:
the_truth = True

In [51]:
print(the_truth)

True

In [52]:
type(the_truth)

bool

In [53]:
lies = False

In [54]:
print(lies)

False

In [55]:
type(lies)

bool

#### Comparison Operators

Compare objects using comparison operators. The result is a Boolean value.

| Operator | Description |
| :---: | :--- |
| `x == y ` | is `x` equal to `y`? |
| `x != y` | is `x` not equal to `y`? |
| `x > y` | is `x` greater than `y`? |
| `x >= y` | is `x` greater than or equal to `y`? |
| `x < y` | is `x` less than `y`? |
| `x <= y` | is `x` less than or equal to `y`? |
| `x is y` | is `x` the same object as `y`? |

In [56]:
2 < 3

True

In [57]:
"Data Science" != "Deep Learning"

True

In [58]:
2.0 == "two"

False

In [59]:
2 == 2.0

True

Note: we will discuss `is` next week.

Operators on Boolean values.

| Operator | Description |
| :---: | :--- |
|`x and y`| are `x` and `y` both true? |
|`x or y` | is at least one of `x` or `y` true? |
| `not x` | is `x` false? |

In [60]:
True and True

True

In [61]:
True and False

False

In [62]:
False or False

False

In [63]:
("Python 2" != "Python 3") and (2 <= 3)

True

In [64]:
not True

False

In [65]:
not not True

True

### NoneType

- `NoneType` is its own type in Python.
- It only has one possible value, `None`
- You may have seen similar things in other languages, like `null` in Java, etc.

In [31]:
x = None

In [32]:
print(x)

None

In [33]:
type(x)

NoneType

In [149]:
bool(None)

False

### Dictionaries

Dictionaries are **awesome**! We'll look at those in a lot more detail soon.

## Break!

## Dictionaries (10 min)

A dictionary is a mapping between key-values pairs.

In [29]:
house = {'bedrooms': 3, 
         'bathrooms': 2, 
         'city': 'Vancouver', 
         'price': 2499999, 
         'date_sold': (1,3,2015)}

condo = {'bedrooms' : 2, 
         'bathrooms': 1, 
         'city'     : 'Burnaby', 
         'price'    : 699999, 
         'date_sold': (27,8,2011)
        }

In [30]:
house

{'bedrooms': 3,
 'bathrooms': 2,
 'city': 'Vancouver',
 'price': 2499999,
 'date_sold': (1, 3, 2015)}

We can access a specific field of a dictionary with square brackets:

In [31]:
house['price']

2499999

In [32]:
condo['city']

'Burnaby'

We can also edit dictionaries (they are mutable):

In [33]:
condo['price'] = 5 # price already in the dict
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'city': 'Burnaby',
 'price': 5,
 'date_sold': (27, 8, 2011)}

In [34]:
condo['flooring'] = "wood"

In [35]:
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'city': 'Burnaby',
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood'}

We can delete fields entirely (though I rarely use this):

In [36]:
del condo["city"]

In [37]:
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood'}

In [38]:
condo[5] = 443345

In [39]:
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood',
 5: 443345}

In [40]:
condo[(1,2,3)] = 777
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood',
 5: 443345,
 (1, 2, 3): 777}

In [41]:
condo["nothere"]

KeyError: 'nothere'

A sometimes useful trick about default values:

In [42]:
condo["bedrooms"]

2

is shorthand for

In [43]:
condo.get("bedrooms")

2

In [45]:
type(condo.get('nothere'))

NoneType

With this syntax you can also use default values:

In [46]:
condo.get("bedrooms", "unknown")

2

In [49]:
condo.get("fireplaces", "FREEZER")

'FREEZER'

- A common operation is finding the maximum dictionary key by value.
- There are a few ways to do this, see [this StackOverflow page](https://stackoverflow.com/questions/268272/getting-key-with-maximum-value-in-dictionary).
- One way of doing it:

In [ ]:
max(word_lengths, key=word_lengths.get)

We saw `word_lengths.get` above - it is saying that we should call this function on each key of the dict to decide how to sort.

## Indexing Sequences (Lists and Tuples) (20 min)

- Lists and tuples allow us to store multiple things ("elements") in a single object.
- The elements are _ordered_.
- We can access values inside a list, tuple, or string using the bracket syntax. 
- Python uses zero-based indexing, which means the first element of the list is in position 0, not position 1.

In [87]:
my_list = [1, 2, "THREE", 4, 0.5]

In [88]:
print(my_list)

[1, 2, 'THREE', 4, 0.5]

In [89]:
type(my_list)

list

You can get the length of the list with `len`:

In [90]:
len(my_list)

5

In [91]:
today = (1, 2, "THREE", 4, 0.5)

In [92]:
print(today)

(1, 2, 'THREE', 4, 0.5)

In [93]:
type(today)

tuple

In [94]:
len(today)

5

In [95]:
my_list

[1, 2, 'THREE', 4, 0.5]

In [96]:
my_list[0]

1

In [97]:
my_list[4]

0.5

In [98]:
my_list[5]

IndexError: list index out of range

In [99]:
today[4]

0.5

We can use negative indices to count backwards from the end of the list.

In [101]:
my_list

[1, 2, 'THREE', 4, 0.5]

In [102]:
my_list[-1]

0.5

We use the colon `:` to access a subsequence. This is called "slicing".

In [103]:
my_list[1:4]

[2, 'THREE', 4]

- Above: note that the start is inclusive and the end is exclusive.
- So `my_list[1:3]` fetches elements 1 and 2, but not 3.
- In other words, it gets the 2nd and 3rd elements in the list.

We can omit the start or end:

In [104]:
my_list[:3]

[1, 2, 'THREE']

In [105]:
my_list[3:]

[4, 0.5]

In [106]:
my_list[:] # *almost* same as my_list - more details next week

[1, 2, 'THREE', 4, 0.5]

Strings behave the same as lists and tuples when it comes to indexing and slicing.

In [107]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

In [108]:
alphabet[0]

'a'

In [109]:
alphabet[-1]

'z'

In [110]:
alphabet[-3]

'x'

In [111]:
alphabet[:5]

'abcde'

In [112]:
alphabet[12:20]

'mnopqrst'

### List Methods

- A list is an object and it has methods for interacting with its data. 
- For example, `list.append(item)` appends an item to the end of the list. 
- See the documentation for more [list methods](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).

In [113]:
primes = [2,3,5,7,11]
primes

[2, 3, 5, 7, 11]

In [114]:
len(primes)

5

In [115]:
primes.append(13)

In [116]:
primes

[2, 3, 5, 7, 11, 13]

In [117]:
len(primes)

6

In [118]:
max(primes)

13

In [119]:
min(primes)

2

In [120]:
sum(primes)

41

In [121]:
w =[1,2,3] + ["Hello", 7]
w

[1, 2, 3, 'Hello', 7]

In [122]:
type(w)

list

#### Mutable vs. Immutable Types

- Strings and tuples are immutable types which means they cannot be modified. 
- Lists are mutable and we can assign new values for its various entries. 
- This is the main difference between lists and tuples.

In [ ]:
names_list = ["Indiana","Fang","Linsey"]
names_list

In [ ]:
names_list[0] = "Cool guy"
names_list

In [ ]:
names_tuple = ("Indiana","Fang","Linsey")
names_tuple

In [ ]:
names_tuple[0] = "Not cool guy"

Same goes for strings. Once defined we cannot modifiy the characters of the string.

In [127]:
my_name = "Firas"

In [128]:
my_name[-1] = 'q'

TypeError: 'str' object does not support item assignment

In [129]:
x = ([1,2,3],5)

In [ ]:
x[1] = 7

In [ ]:
x

In [ ]:
x[0][1] = 4

In [ ]:
x

## String Methods (5 min)

- There are various useful string methods in Python.

In [130]:
all_caps = "HOW ARE YOU TODAY?"
print(all_caps)

HOW ARE YOU TODAY?

In [131]:
new_str = all_caps.lower()
new_str

'how are you today?'

Note that the method lower doesn't change the original string but rather returns a new one.

In [132]:
all_caps

'HOW ARE YOU TODAY?'

There are *many* string methods. Check out the [documentation](https://docs.python.org/3/library/stdtypes.html#string-methods).

In [133]:
all_caps.split()

['HOW', 'ARE', 'YOU', 'TODAY?']

In [134]:
all_caps.count("O")

3

One can explicitly cast a string to a list:

In [135]:
caps_list = list(all_caps)
caps_list

['H',
 'O',
 'W',
 ' ',
 'A',
 'R',
 'E',
 ' ',
 'Y',
 'O',
 'U',
 ' ',
 'T',
 'O',
 'D',
 'A',
 'Y',
 '?']

In [136]:
len(all_caps)

18

In [137]:
len(caps_list)

18

#### String formatting

- Python has a really awesome way of formatting strings by "filling in the blanks" and formatting them nicely. 
- There are a few ways of doing this, but [f-strings](https://realpython.com/python-f-strings/) are what I would recommend.

In [138]:
myname = "Firas"
age = 5

new = f"Hello, my name is {myname}. I am {age} years old."

print(new)

Hello, my name is Firas. I am 5 years old.

#### Empties

In [139]:
lst = list() # empty list
lst

[]

In [140]:
lst = [] # empty list
lst

[]

In [141]:
tup = tuple() # empty tuple
tup

()

In [142]:
tup = () # empty tuple
tup

()

In [143]:
dic = dict() # empty dict
dic

{}

In [144]:
dic = {} # empty dict
dic

{}

In [145]:
st = set() # emtpy set
st

set()

In [146]:
st = {} # NOT an empty set!
type(st)

dict

In [147]:
st = {1}
type(st)

set

## Conditionals (10 min)

- [Conditional statements](https://docs.python.org/3/tutorial/controlflow.html) allow us to write programs where only certain blocks of code are executed depending on the state of the program. 
- Let's look at some examples and take note of the keywords, syntax and indentation. 
- Check out the [Python documentation](https://docs.python.org/3/tutorial/controlflow.html) and [Think Python (Chapter 5)](http://greenteapress.com/thinkpython/html/thinkpython006.html) for more information about conditional execution.

In [148]:
name = input("What's your name?")

if name.lower() == 'mike':
    print("That's my name too!")
elif name.lower() == 'santa':
    print("That's a funny name.")
elif name.lower() == 'firas':
    print("That's a great name")
else:
    print(f"Hello {name}! That's a cool name.")

    print('Nice to meet you!')

That's a great name

The main points to notice:

* Use keywords `if`, `elif` and `else`
* The colon `:` ends each conditional expression
* Indentation (by 4 empty space) defines code blocks
* In an `if` statement, the first block whose conditional statement returns `True` is executed and the program exits the `if` block
* `if` statements don't necessarily need `elif` or `else`
* `elif` lets us check several conditions
* `else` lets us evaluate a default block if all other conditions are `False`
* the end of the entire `if` statement is where the indentation returns to the same level as the first `if` keyword

If statements can also be **nested** inside of one another:

In [68]:
name = input("What's your name?")

if name.lower() == 'mike':
    print("That's my name too!")
elif name.lower() == 'santa':
    print("That's a funny name.")
else:
    print("Hello {0}! That's a cool name.".format(name))
    if name.lower().startswith("super"):
        print("Do you have superpowers?")

print('Nice to meet you!')

What's your name?Jack
Hello Jack! That's a cool name.
Nice to meet you!

#### Inline if/else

In [ ]:
words = ["the", "list", "of", "words"]

x = "long list" if len(words) > 10 else "short list"
x

In [ ]:
if len(words) > 10:
    x = "long list"
else:
    x = "short list"

In [ ]:
x

## Preview: Next Class

Next class we will look at loops, functions, and error handling. After that, we'll be in business for the rest of the course!

In [ ]:
## RISE settings

from IPython.display import IFrame

from traitlets.config.manager import BaseJSONConfigManager
from pathlib import Path

path = Path.home() / ".jupyter" / "nbconfig"
cm = BaseJSONConfigManager(config_dir=str(path))
tmp = cm.update(
    "rise",
    {
        "theme": "sky",  # blood is dark, nice
        "transition": "fade",
        "start_slideshow_at": "selected",
        "autolaunch": False,
        "width": "100%",
        "height": "100%",
        "header": "",
        "footer": "",
        "scroll": True,
        "enable_chalkboard": True,
        "slideNumber": True,
        "center": False,
        "controlsLayout": "edges",
        "slideNumber": True,
        "hash": True,
    },
)